body {
    background-image: url('img/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg');
    background-size: cover;
    background-position: 50% 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 32px;
}

.form-container {
    display:flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    align-items: center;
    padding: 20px;
    background-color: rgb(127, 157, 255);
    border-radius:4px;
    min-width: 500px;
}

a:link {
    text-decoration: none;
}

form {
    display:flex;
    width:80%;
    flex-direction: column;
}

label {
    font-weight: 600;
}

input[type=text], input[type=password]{
    background-color: rgba(255, 255, 255, 0.225);
    border:none;
    border-bottom: 3px solid rgb(46, 46, 46);
    transition:all 0.4s;
}
input[type=text]:focus, input[type=password]:focus{
    background-color: rgba(255, 255, 255, 0.650);
    border-bottom: 3px solid rgb(0, 0, 0);
}
input[type=submit]{
    background-color: #5d85c0;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition:all 0.4s;
}

input[type=submit]:hover{
    background-color: #2a70d8;
}

#form-error {
    padding:5px;
    border-radius: 4px;
    background-color: rgb(255, 143, 143);
}