body {
  background-image: url('img/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg');
  background-size: cover;
  background-position: 50% 20%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.dash-header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(22, 133, 230);
  padding-left: 15px;
  padding-right: 15px;
  height:-moz-fit-content;
  height:fit-content;
  position:relative;
  color:white;
}

.account-function {
  display:flex;
}

#logout,#removeacc {
  width:83px;
  height:-moz-fit-content;
  height:fit-content;
  text-align: center;
  cursor:pointer;
  font-weight: 600;
  background-color: rgb(207, 64, 64);
  border-radius: 6px;
}

#removeacc {
  width:145px;
  margin-left: 24px;
}

.main-content {
  display:flex;
  flex-direction: column;
  margin:auto;
  background-color: lightblue;
  border-radius: 5px;
  max-width: 550px;
  justify-content: center;
  align-items: center;
  padding:4px;
}

button,input[type=button],input[type=submit] {
  background-color: #2a70d8;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition:all 0.4s;
}

.user-note textarea {
  outline:none;
  resize:none;
  border: none;
}

.prompt {
  display:none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: all 400ms;
}

.prompt-content {
  background-color: rgb(195, 227, 255);
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(112, 139, 163);
  border-radius:6px;
  width: -moz-fit-content;
  width: fit-content;
}

#close {
  color: #0099ff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: rgb(53, 110, 117);
  text-decoration: none;
  cursor: pointer;
}